<!DOCTYPE html>
<html>
	<head>
		<title> Label Toolkit for JPTW Project | AHG</title>
		<!--<link rel="icon" href="assets/images/favicon/toolkit.ico"/>-->
		 <link rel="shortcut icon" href="assets/images/icon/toolkit-01.png" type="image/x-icon" />

		<script src="https://ajax.googleapis.com/ajaxpluginss/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajaxpluginss/axios/0.19.2/axios.min.js"></script>

		<!-- Wave Surfer -->
		<script src="https://unpkg.com/wavesurfer.js"></script>
		<script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.spectrogram.min.js"></script>

		<!-- Load YAML -->
		<script src="plugins/js-yaml/js-yaml.min.js"></script>
		
		<!-- Resize Sensor -->
		<script src="plugins/css-element-queries/ResizeSensor.js"></script>
		<script src="plugins/css-element-queries/ElementQueries.js"></script>
		
		<!-- Custom Selectbox -->
		<script src="plugins/jquery-nice-select-1.1.0/jquery.js"></script>
		<script src="plugins/jquery-nice-select-1.1.0/jquery.nice-select.js"></script>
		<link rel="stylesheet" href="plugins/jquery-nice-select-1.1.0/nice-select.css">

		<!-- Loader.css -->
		<script src="plugins/loaders.css/loaders.css.js"></script>
		<link rel="stylesheet" href="plugins/loaders.css/loaders.min.css">

		<!-- Slider -->
		<script src="plugins/slider.js"></script>

		<!-- Style -->
		<link rel="stylesheet" href="styles/main.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajaxpluginss/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<section id="section-title">
			<h1>Label Toolkit for JP-TW Project</h1>
		</section>
		<section id="section-selection">
			<div class="container">
				<div class="content">
					<form id="selection-form">
						<div style="margin-left: 20px; width: 30%; float:left;">
							<div class="label">Dataset</div>
					        <div class="custom-select">
					        	<select id="select-location">
					        		<option value="" disabled selected>Source</option>
					        	</select>
					        </div>
				    	</div>
				        <div style="margin-left: 20px; width: 30%; float:left;">
					        <div class="label">Search</div>
					        <div class="custom-input" id="custom-upload">
					        	<input type="file" id="upload-btn" accept="audio/*" />
								<label for="upload-btn" id="upload-label">Choose file</label>
							</div>
				    	</div>
				    	<div style="width: auto; float:right;">
					    	<div class="custom-input" id="custom-submit">
						        <input type="button" onclick="startAnalysis()" id="submit"/>
								<label for="submit">Start</label>
							</div>
						</div>
			    	</form>
			    	<div style="margin-left: 20px; width: 30%; float:left; display: none;" id="candidate">
						<div class="label">Candidate</div>
				        <div class="custom-select">
				        	<select id="select-soundsource" onchange="updateSpectrum()">
				        		<option value="" disabled selected>Result</option>
				        	</select>
				        </div>
			    	</div>
		    	</div>
		    </div>
		</section>
		<section id="section-waveform">
			<div class="wrapper">
		        <div id="waveform"></div>
		        <div id="wave-spectrogram"></div>

				<!-- Create action buttons -->
		        <input type="button" id="btn-play" value="Play" disabled="disabled"/>
		        <input type="button" id="btn-pause" value="Pause" disabled="disabled"/>
		        <input type="button" id="btn-stop" value="Stop" disabled="disabled" />
		        <input type="range" id="slider" min="0" max="100" step="1" value="50">
		        <div id="content-tag"></div>
		        <div id="content-block"></div>
		    </div>
		</section>
		<section id="section-loader">
			<div class="container">
				<div class="loader-inner line-scale-pulse-out"></div>  
				<p class="loading">Analysing</p>
			</div>
		</section>
    </body>
    <script src="js/demo/spectrum.js"></script>
    <script src="js/demo/event.js"></script>
	<script src="api/fingerprint.js"></script>
	<script type="text/javascript">
		const results = {};

		$('.loader-inner').loaders();
    	$('#upload-btn').change(function() {
			$('#upload-label')[0].textContent = this.files[0].name;
		});

    	const Loader = {};
    	Loader.show = function () {
    		$('#section-loader')[0].style.display = 'block';
		}
		Loader.hide = function() {
    		$('#section-loader')[0].style.display = 'none';
			$('#selection-form')[0].style.display = 'none';
			$('#candidate')[0].style.display = 'block';
		}

		function startAnalysis() {
			console.log('startAnalysis');
			const data = {
				category: $(".current")[0].innerHTML,
				file: $("#upload-btn").prop('files')[0],
			};
			Loader.show();
			uploadFile(data)
				.then(function (response) {
    				console.log(response);
    				Loader.hide();
    				getDetail(response.data.results);
    				updateSpectrum();
    			})
    			.catch(function (response) {
    				console.log(response);
    			});
		}

		function getDetail(data) {
			data.forEach((object) => {
				let option = document.createElement("option");
				option.text = object.song_name;
				$('#select-soundsource').append(option);
				results[object.song_name] = object.offset_seconds;
			})
    		$('select').niceSelect('update');
		}

		function updateSpectrum() {const key = $('.current')[1].innerHTML;
    		Spectrum.load(`/assets/dataset/TW_TPE/${key}.wav`);
    		let currentTime = parseInt( results[key] );
			(currentTime < 0) && (currentTime = 0);

			let currentProgress = currentTime / Spectrum.getDuration();
			Spectrum.seekTo(currentProgress);
		}
	</script>
</html>   